---
// Redirect root to /it/
---
<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=/it/">
  <link rel="canonical" href="/it/">
  <title>Redirecting...</title>
</head>
<body>
  <script>window.location.href = '/it/';</script>
  <noscript>
    <p>Redirecting to <a href="/it/">Italian homepage</a>...</p>
  </noscript>
</body>
</html>
